/* ---------------------------------------------------------
javascript - Democratic Nomination Campaign Game
--------------------------------------------------------- */

/* NEEDS some serious refactoring sweep to clean up and consolidate */

body {
  margin-left: auto;
  margin-right: auto;
}

#back-ground {
  width: 1024px;
  height: 576px;
  opacity: 1;
}

.box {
  background-color: rgba(178, 34, 52, .5);
  color: white;
  font-size: 30px;
  font-weight: 400;
  border-radius: 3%;
  text-align: center;
}

#header {
  position: fixed;
  width: 1024px;
  height: 40px;
  top: 0px;
  left: 0px;
  font-size: 36px;
  font-weight: bold;
  color: black;
  line-height: 35px;
  background-color: rgba(224, 224, 237, 0.5);
}

#front-runner-top {
  position: fixed;
  width: 200px;
  height: 40px;
  top: 50px;
  left: 30px;
  border-radius: 5px 5px 0px 0px;
}

#front-runner {
  position: fixed;
  width: 200px;
  height: 120px;
  top: 90px;
  left: 30px;
  border-radius: 0px 0px 5px 5px;
}

#challenger-top {
  position: fixed;
  width: 200px;
  height: 40px;
  top: 50px;
  left: 794px;
  border-radius: 5px 5px 0px 0px;
}

.outgoing-prez {
  font-size: 18px;
}

#challenger {
  position: fixed;
  width: 200px;
  height: 120px;
  top: 90px;
  left: 794px;
}


#contenders-top {
  position: fixed;
  width: 900px;
  height: 40px;
  top: 230px;
  left: 62px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(123, 222, 136, 0.5);
  color: black;
  font-weight: bold;
}

#contenders {
  position: fixed;
  width: 900px;
  height: 110px;
  top: 270px;
  left: 62px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(123, 222, 136, 0.5);
  color: black;

}

#news-feed-top {
  position: fixed;
  width: 500px;
  height: 40px;
  top: 50px;
  left: 262px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(60,59,110,.5);
}

#news-feed {
  position: fixed;
  width: 500px;
  height: 70px;
  top: 90px;
  left: 262px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(60,59,110,.5);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 4px;
}

#duel {
  visibility: hidden;
  position: fixed;
  width: 224px;
  height: 50px;
  top: 170px;
  left: 400px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: red solid 3px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(224, 224, 237, 1);
  /* background-color: rgba(250, 242, 4, 0.7); */
}

#dustbin-top {
  position: fixed;
  width: 900px;
  height: 40px;
  top: 400px;
  left: 62px;
  color: black;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(224, 224, 237, 0.5);
  font-weight: bold;
}

#dustbin {
  position: fixed;
  width: 900px;
  height: 110px;
  top: 440px;
  left: 62px;
  color: black;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(224, 224, 237, 0.5);
}

.candidate {
  position: relative;
  width: 100px;
  height: 100px;
  border: black solid 2px;
  border-radius: 3%;
  float: left;
  background-color: rgba(252, 252, 252, 0.7);
  margin-left: 10px;
  }

.candidate img {
  width:50px;
  height:65px;
  position: absolute;
  top: 20px;
  left:25px;
  margin: 0px;
  padding: 2px;
}

.candidate h5 {
  position: absolute;
  top: 3px;
  color: black;
  text-align: center;
  width: 100%;
  margin: 0px;
  /* padding: 5px;
  margin-top: 10px;
  line-height: 20px; */
  font-weight: bold;
  font-size: 18px;
}

.candidate h6 {
  position: absolute;
  bottom: 3px;
  margin: 0px;
  color: black;
  text-align: center;
  width: 100%;
  /* padding: 5px;
  margin-top: 10px;
  line-height: 20px; */
  font-weight: bold;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
}

.cand-in-upper-box {
  margin-left: 50px;
}

.cand-in-dustbin {
  background-color: rgba(63, 60, 55, 0.7);
}

.cand-img-in-dustbin {
  opacity: .7;
}

.trump-white-house {
  position: relative;
  bottom: 105px;
  left: 530px;
}

